.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f1f2;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  max-width: 50%;
  border-radius: 0 !important;
  overflow-y: auto !important;
  z-index: 1;
}

.friend-list-heading {
  background-color: gray !important;
  min-width: 50%;
  max-width: 50%;
  z-index: 0 !important;
}

.friend-button {
  border: 1px solid lightgray !important;
  border-radius: 0 !important;
}

.grid-container {
  border-bottom: 1px solid lightgray;
  min-height: 145px;
  padding: 4%;
}

.text-field {
  height: 20px;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid gray !important;
  padding: 4% !important;
  font-size: 1.2rem;
}


.friend-gender {
  padding-top: 1rem;
  width: 100% !important;
}
